.hoogwaardig {
    margin: 200px 0 100px;

    &__tekst {
        width: 50%;
        margin: 0 auto;
        text-align: center;
    }

    &__lijn {
        width: 2px;
        height: 80px;
        background-color: $color-black;
        margin: 0 auto;
    }
}

@media (max-width: 1200px) {
    .hoogwaardig {
        margin: 100px 70px 50px;

        &__tekst {
            width: 100%;
        }
    }
}

@media (max-width: 700px) {
    .hoogwaardig {
        margin: 50px 7% 20px;

        &__lijn {
            height: 60px;
        }
    }

}