.winnaar {
    position: relative;
    margin: 0 35px;
    overflow: hidden;

    &__tekst {
        position: absolute;
        bottom: 50px;
        left: 50px;
        width: fit-content;
        color: $color-white;
        z-index: 2;
        margin: 0 70px 0 0;

        h2 {
            font-size: 100px;
            margin: 0;
            width: 50%;
        }
    }

    &__img {
        margin: 0 auto;
        width: 100%;
        max-width: 100%; // Zorgt ervoor dat de container niet breder wordt dan zijn inhoud
        height: auto; // Past de hoogte automatisch aan om de aspect ratio te behouden
    
        img {
            border-radius: 20px;
            width: 100%; // Zorgt ervoor dat de afbeelding de breedte van zijn container vult
            height: auto; // Past de hoogte automatisch aan om de aspect ratio te behouden
            object-fit: cover; // Zorgt ervoor dat de afbeelding de container vult zonder zijn aspect ratio te verliezen
        }
    }
}

@media (max-width: 1200px) {
    .winnaar {
        &__tekst {
            h2 {
                font-size: 70px;
                width: 100%;
            }
        }
    }
}

@media (max-width: 900px) {
    .winnaar {
        &__tekst {
            h2 {
                font-size: 50px;
            }
        }
    }
}


@media (max-width: 700px) {
    .winnaar {
        margin: 0 7%;

        &__tekst {
            left: 7%;

            h2 {
                font-size: 30px;
            }
        }
    }
}