.renovatie {
    position: relative;
    margin: 0 35px 35px;
    overflow: hidden;

    &__tekst {
        position: absolute;
        top: 50px;
        right: 50px;
        width: 50%;
        color: $color-white;
        z-index: 2;
        text-align: end;

        h2 {
            font-size: 100px;
            margin: 0;
        }
    }

    &__img {
        margin: 0 auto;
        width: 100%;
        max-width: 100%; // Zorgt ervoor dat de container niet breder wordt dan zijn inhoud
        max-height: 100vh;
        height: auto; // Past de hoogte automatisch aan om de aspect ratio te behouden
    
        img {
            border-radius: 20px;
            width: 100%; // Zorgt ervoor dat de afbeelding de breedte van zijn container vult
            height: auto; // Past de hoogte automatisch aan om de aspect ratio te behouden
            object-fit: cover; // Zorgt ervoor dat de afbeelding de container vult zonder zijn aspect ratio te verliezen
        }
    }

    &__button {
        position: absolute;
        bottom: 80px;
        right: 50px;
    }

}

@media (max-width: 1200px) {
    .renovatie {
        &__tekst {
            h2 {
                font-size: 70px;
                width: 100%;
            }
        }

    }
}

@media (max-width: 900px) {
    .renovatie {
        &__tekst {
            h2 {
                font-size: 50px;
            }
        }
    }
}

@media (max-width: 700px) {
    .renovatie {
        margin: 0 7%;

        &__tekst {
            right: 7%;
            width: 80%;

            h2 {
                font-size: 30px;
            }
        }


        &__button {
            position: absolute;
            bottom: 50px;
            right: 30px;
        }
    }
}